# 튜플(Tuple)

# 튜플 구조 정의 1
  튜플이름 = (아이템값1, ....)

In [2]:
t1 = ('도','레','미','파','솔')
print(t1,type(t1))

('도', '레', '미', '파', '솔') <class 'tuple'>

# 튜플 구조 정의 2
   
   튜플이름 = 아이템값1, 아이템값2 ..

In [3]:
t2 = 1,2,3,4,5
print(t2,type(t2))

(1, 2, 3, 4, 5) <class 'tuple'>

# 튜플 인덱싱
   
   튜플이름[위치번호] 0번부터 시작

In [4]:
t1 = ('도','레','미','파','솔')
print(t1)
print(t1[0])
print(t1[-1])

('도', '레', '미', '파', '솔')
도
솔

# 튜플 슬라이싱

In [5]:
print(t1[0:3])

('도', '레', '미')

# 튜플의 편집방식

  삭제 , 변경은 불가능

  추가 가능

In [6]:
myTuple = (100, '강아지', '지렁이')
print('myTuple = ',myTuple)
print('myTuple[0] = ', myTuple[0])

myTuple =  (100, '강아지', '지렁이')
myTuple[0] =  100

 myTuple[0] = 200 변경 불가

# 추가 가능

# 튜플이름 += (값1,값2...)

# 튜플 요소 하나만 추가할 경우

# 튜플이름 += (값,)

In [7]:
myTuple += (50,100)
print('myTuple = ', myTuple)
myTuple += ('끝',)
print('myTuple = ',myTuple)

myTuple =  (100, '강아지', '지렁이', 50, 100)
myTuple =  (100, '강아지', '지렁이', 50, 100, '끝')

# 튜플함수 적용

  요소의 반복값 확인

  튜플이름.count(요소값) -> 정수

In [8]:
t1 = (100,50,30,30,30)
print('30의 반복 횟수 : ',t1.count(30))

30의 반복 횟수 :  3

 t1.sort() 불가능

 튜플 전체의 길이 = 요소의 총 갯수

 len(튜플이름))

# 튜플 요소의 위치값 반환

   튜플이름.index(요소값)

In [9]:
print(t1.index(30))

2

# 자료구조 변환

# 문자열 => 튜플

  tuple(문자열변수나 문자열)

In [10]:
myStr = 'Python'
print(myStr, type(myStr))
myTuple = tuple(myStr)
# ('P', 'y', 't', 'h', 'o', 'n')
print(myTuple,type(myTuple))

Python <class 'str'>
('P', 'y', 't', 'h', 'o', 'n') <class 'tuple'>

# 리스트 => 튜플

  tuple(리스트이름)

In [11]:
myList = ['수학','과학','영어']
print(myList, type(myList))
myTuple = tuple(myList)
print(myTuple, type(myTuple))

['수학', '과학', '영어'] <class 'list'>
('수학', '과학', '영어') <class 'tuple'>

# 튜플 -> 리스트

   list(튜플이름 )

In [12]:
myTuple = (100,50,30,30,30)
myList = list(myTuple)
print(myList, type(myList))

[100, 50, 30, 30, 30] <class 'list'>

# 튜플 => 문자열 1

   str(튜플이름)

In [13]:
myTuple = ('도','레','미','파','솔')
print(myTuple, type(myTuple))
myStr = str(myTuple)
print(myStr, type(myStr))
print(myStr[0]) # (

('도', '레', '미', '파', '솔') <class 'tuple'>
('도', '레', '미', '파', '솔') <class 'str'>
(

# 튜플 => 문자열 2

  '구분자'.join(튜플이름)

In [14]:
myTuple = ('도','레','미','파','솔')
print(myTuple, type(myTuple))
# 도,레,미,파,솔
myStr = ','.join(myTuple)
print(myStr, type(myStr))
myStr2 = '/'.join(myTuple)
print(myStr2, type(myStr2))

('도', '레', '미', '파', '솔') <class 'tuple'>
도,레,미,파,솔 <class 'str'>
도/레/미/파/솔 <class 'str'>